<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Monitux_POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Monitux_POS.Properties.Settings>
            <setting name="LicenciaValida" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NombreCliente" serializeAs="String">
                <value />
            </setting>
            <setting name="FechaExpiracion" serializeAs="String">
                <value />
            </setting>
            <setting name="CulturaMoneda" serializeAs="String">
                <value>es-ES</value>
            </setting>
            <setting name="Codigo_Licencia" serializeAs="String">
                <value />
            </setting>
            <setting name="Primer_Arranque" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Empresa_Creada" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Usuario_Creado" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DB_PROVIDER" serializeAs="String">
                <value>sqlserver</value>
            </setting>
            <setting name="DB_CONNECTION" serializeAs="String">
                <value>Server=DESKTOP-N4UCDLP\\SQLEXPRESS;Database=monitux;Trusted_Connection=True;</value>
            </setting>
        </Monitux_POS.Properties.Settings>
    </userSettings>
</configuration>